@use '/src/assets/css/base/colors';
@use '../../../../assets/css/components/form-field';

:host {
	display: block;
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 30px;
}

::ng-deep {
	.mat-step-header {
		pointer-events: none !important;
	}
}

::ng-deep {
	.mat-horizontal-content-container {
		padding: 0px !important;
	}
}

::ng-deep {
	.mat-horizontal-stepper-header-container {
		border-top: solid 1px colors.$valeyo-grey-300 !important;
		border-bottom: solid 1px colors.$valeyo-grey-300 !important;
		background-color: colors.$valeyo-grey-100 !important;
	}
}

::ng-deep .coverage-card {
	border: 1px solid #e5e5e5;
	filter: drop-shadow(0px 4px 12px rgba(91, 91, 91, 0.08));
	border-radius: 4px;
	padding: 10px 20px 30px 10px;
}