@use "../../../../../assets/css/base/colors";
@use '/src/assets/css/components/form-field';

.download-frame {
  border: 1px solid colors.$valeyo-grey-300;
  /* Softest Shadow */
  box-shadow: (0px 4px 8px rgba(91, 91, 91, 0.04));
  border-radius: 4px;
  padding: 15px;
}

.download-frame .mat-icon {
  margin-right: 20px;
}

.upload-frame {
  background: colors.$valeyo-green-200;
  border: 1px dashed var(--green200);
  border-radius: 4px;
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 20px;
  grid-template-areas: '. a a .';
}

.upload-frame a {
  cursor: pointer;
  color: var(--green200) !important;
  display: block;
  vertical-align: middle;
}

.download-link {
  color: var(--green200) !important;
  cursor: pointer;
}

.upload-form {
  display: block;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;

  .button-upload {
    cursor: pointer;
    border: 1px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    color: var(--green400);
    background-color: var(--green800);
  }

  input[type='file'] {
    display: none;
  }
}

.file-collection {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 5px 20px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: var(--green200);
    font-weight: 600;
  }
}

/* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
::ng-deep .mat-mdc-checkbox.ng-invalid.ng-touched span.mat-checkbox-frame {
  border-color: colors.$error-red-600 !important;
}

.valeyo-bg-color {
  background-color: colors.$success-green-200;
}

.waive-forecolor {
  color: colors.$securian-brand-snow;
}

::ng-deep {

  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
  .mat-checkbox-inner-container {
    margin: 0% !important;
    margin-right: 5px !important;
    margin-top: 1px !important;
    margin-bottom: initial;
    transform: translateY(2px);
  }

  /* TODO(mdc-migration): The following rule targets internal classes of checkbox that may no longer apply for the MDC version. */
  .mat-checkbox-label {
    margin-left: 5px !important;
    white-space: normal;
    line-height: normal !important;
  }
}