.login-header {
  width: 100%;
  height: 110px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 60px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 8px 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-logo {
  height: 50px;
  width: auto;
}

@media (max-width: 768px) {
  .login-header {
    padding: 16px 20px;
    height: 80px;
  }

  .header-logo {
    height: 36px;
  }
}
