// Valeyo Primary Color
$valeyo-green-100: #F8FCFB;
$valeyo-green-200: #E5F4F2;
$valeyo-green-300: #CCEAE6;
$valeyo-green-400: #B3DFDA;
$valeyo-green-500: #99D4CD;
$valeyo-green-600: #66BFB4;
$valeyo-green-700: #95C93D;

// Valeyo Accent (Secondary) Color
$valeyo-blue-100: #EBF3F6;
$valeyo-blue-200: #D7e7eC;
$valeyo-blue-300: #AECED8;
$valeyo-blue-400: #7BAFC0;
$valeyo-blue-500: #81B6C7;
$valeyo-blue-600: #68A7BB;
$valeyo-blue-700: #399CC6;
// $valeyo-blue-800: #006DAF;
$valeyo-blue-900: #284684;


// Valeyo Neutral (Contrast) Color
$valeyo-grey-100: #FBFBFB;
$valeyo-grey-200: #F2F2F2;
$valeyo-grey-300: #E5E5E5;
$valeyo-grey-400: #D3D3D3;
$valeyo-grey-500: #848484;
$valeyo-grey-600: #5F5F5F;
$valeyo-grey-700: #444444;
$valeyo-grey-800: #2C2C2C;

// Valeyo Success Color
$success-green-100: #D9F0E4;
$success-green-200: #B8E5CD;
$success-green-600: #056F62;
$success-green-800: #155E36;

// Valeyo Warning Color
$warning-orange-100: #FBF3E2;
$warning-orange-200: #FAE6C2;
$warning-orange-600: #E5AC3E;
$warning-orange-800: #C7880E;

// Valeyo Error Color
$error-red-100: #F9ECEF;
$error-red-200: #F3D9DE;
$error-red-400: #ee5d5df9;
$error-red-500: #CC0000;
$error-red-600: #B00020;
$error-red-800: #760015;

// Valeyo Shades
$valeyo-white-0: #FFFFFF;
$valeyo-black-900: #000000;

// SECURIAN COLORS

$securian-brand-leaf: #0AA147;
$securian-brand-grass: #96C93D;
$securian-brand-pine: #007b39;
$securian-brand-pine-strong: #015528;
$securian-brand-sprout: #CDDC29;
$securian-brand-water: #1E386B;
$securian-brand-sky: #006DAF;
$securian-brand-air: #56C4EB;
$securian-brand-slate: #58595B;
$securian-brand-steel: #929497;
$securian-brand-stone: #C7C8C7;
$securian-brand-fog: #E6E7E8;
$securian-brand-mist: #F1F2F2;
$securian-brand-onyx: #000;
$securian-brand-snow: #FFF;
$securian-brand-orange: #F06E00;