@font-face {
  font-family: 'Hurme Geometric Sans 3';
  font-style: normal;
  font-weight: 400, 600, 700;
  src:
    url('../../fonts/HurmeGeometricSans3/HurmeGeometricSans3Regular.woff') format('woff'),
    url('../../fonts/HurmeGeometricSans3/HurmeGeometricSans3Regular.ttf') format('ttf'),
    url('../../fonts/HurmeGeometricSans3/HurmeGeometricSans3Bold.ttf') format('ttf'),
    url('../../fonts/HurmeGeometricSans3/HurmeGeometricSans3Bold.woff') format('woff');
}

@font-face {
  font-family: 'Hurme Geometric Sans 3 Semi';
  font-style: normal;
  font-weight: 400, 600, 700;
  src:
    url('../../fonts/HurmeGeometricSans3/HurmeGeometricSans3SemiBold.woff') format('woff'),
    url('../../fonts/HurmeGeometricSans3/HurmeGeometricSans3SemiBold.ttf') format('ttf'),
}

$font-family: "Hurme Geometric Sans 3";
$font-family-semi: "Hurme Geometric Sans 3 Semi";