// securian Primary Color
$securian-green-100: #F8FCFB;
$securian-green-200: #E5F4F2;
$securian-green-300: #CCEAE6;
$securian-green-400: #B3DFDA;
$securian-green-500: #99D4CD;
$securian-green-600: #66BFB4;
$securian-green-700: #4CB4A7;
$securian-green-800: #018374;
$securian-green-900: #056F62;

// securian Accent (Secondary) Color
$securian-blue-100: #EBF3F6;
$securian-blue-200: #D7e7eC;
$securian-blue-300: #AECED8;
$securian-blue-400: #7BAFC0;
$securian-blue-500: #81B6C7;
$securian-blue-600: #68A7BB;
$securian-blue-700: #368AA5;
$securian-blue-800: #046D8E;

// securian Neutral (Contrast) Color
$securian-grey-100: #FBFBFB;
$securian-grey-200: #F2F2F2;
$securian-grey-300: #E5E5E5;
$securian-grey-400: #D3D3D3;
$securian-grey-500: #848484;
$securian-grey-600: #5F5F5F;
$securian-grey-700: #444444;
$securian-grey-800: #2C2C2C;

// securian Success Color
$success-green-100: #D9F0E4;
$success-green-200: #B8E5CD;
$success-green-600: #056F62;
$success-green-800: #155E36;

// securian Warning Color
$warning-orange-100: #FBF3E2;
$warning-orange-200: #FAE6C2;
$warning-orange-600: #E5AC3E;
$warning-orange-800: #C7880E;

// securian Error Color
$error-red-100: #F9ECEF;
$error-red-200: #F3D9DE;
$error-red-600: #B00020;
$error-red-800: #760015;

// securian Shades
$securian-white-0: #FFFFFF;
$securian-black-900: #000000;