@use '/src/assets/css/base/colors';

.tooltip {
  position: fixed;
  background: colors.$securian-brand-mist !important;
  // border-bottom: 6px solid colors.$securian-brand-leaf !important;
  padding: 3px 6px;
  font-size: 13px;
  margin-top: 5px;
  min-width: 152px;
  max-width: 452px;
  z-index: 500;
  // transform: translateX(-50%);

  ::after {
    content: "";
    position: absolute;
    top: 105%;
    left: 7%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
  }

  &--info {
    border-bottom: 6px solid colors.$securian-brand-leaf !important;

    ::after {
      border-color: colors.$securian-brand-leaf transparent transparent transparent;
    }
  }

  &--warning {
    border-bottom: 6px solid colors.$securian-brand-orange !important;

    ::after {
      border-color: colors.$securian-brand-orange transparent transparent transparent;
    }
  }

  &--below {
    transform: translateX(-50%);
    margin-top: 7px;
  }

  &--above {
    transform: translate(-50%, -105%);
    margin-bottom: 7px;
  }

  &--left {
    min-width: 250px;
    transform: translate(-90%, -120%);

    ::after {
      content: "";
      position: absolute;
      top: 107% !important;
      left: -115% !important;
      margin-left: -5px;
      border-width: 10px;
      border-style: solid;
      transform: translateX(calc(96%*30));
    }
  }

  &--right {
    transform: translateY(-70%);
    margin-left: 7px;
  }

  &--top {
    transform: translate(-7.3%, -120%);
  }

  .tooltip-container {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
  }

  .icon {
    min-width: 24px;
  }

  .close-button {
    cursor: pointer;
  }

  .color-warning {
    color: colors.$warning-orange-600 !important;
  }
}