@use '/src/assets/css/base/colors';

.form {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	margin-top: 40px;

	.form-section {
		display: flex;
		flex-direction: row;
		column-gap: 10px;

		.section-wrapper {
			flex: 1 1 30%;

			.section-title {
				margin-bottom: 16px;
			}
		}

		.form-table {
			flex: 1 1 70%;
		}

		.form-fields {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			column-gap: 24px;


			.form-field {
				flex: 1 1 50%;
			}

		}

		.form-gapanalysis-fields {
			.form-field {
				flex: 100%;
			}
		}

		.full-width-field {
			flex: 100%;

			.radio-group-rows {
				display: flex;
				flex-direction: column;
				gap: 20px;
			}

			/* TODO(mdc-migration): The following rule targets internal classes of radio that may no longer apply for the MDC version. */
			mat-radio-button {
				margin-right: 1rem;
			}
		}
	}

	.form-buttons {
		display: inline-flex;
		column-gap: 24px;
		align-self: end;
	}
}

.label-with-icon {
	display: flex;
	flex-direction: row;
	gap: 5px;
}


.total {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 15px;
	border-top: 8px solid colors.$securian-brand-leaf;
	border-right: 1px solid colors.$securian-brand-stone;
	border-bottom: 1px solid colors.$securian-brand-stone;
	border-left: 1px solid colors.$securian-brand-stone;
	padding: 15px 15px 15px 15px;
	background-color: colors.$securian-brand-snow;

	.total-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
	}
}