@use '/src/assets/css/base/colors';
@use '../base/fonts';

.valeyo-stepper {
  ::ng-deep .mat-horizontal-content-container {
    // font-size: 12px;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0rem;
    line-height: 20px;
    text-align: left;
    color: rgba(44, 44, 44, 1);
  }

  ::ng-deep .coverage-card {
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 4px 12px rgba(91, 91, 91, 0.08));
    border-radius: 4px;
    padding: 30px 40px 30px 40px;
  }

  .mat-step-header .mat-step-icon {
    color: white !important;
  }

  .mat-step-label-active {
    font-weight: bold !important;
  }

  .mat-step-header-selected .mat-step-icon {
    color: white !important;
  }
}

::ng-deep .mat-horizontal-content-container {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0rem;
  line-height: 20px;
  text-align: left;
  color: rgba(44, 44, 44, 1);
}

::ng-deep .coverage-card {
  border: 1px solid #e5e5e5;
  filter: drop-shadow(0px 4px 12px rgba(91, 91, 91, 0.08));
  border-radius: 4px;
  padding: 30px 40px 30px 40px;
}

.mat-step-header .mat-step-icon {
  background-color: colors.$securian-brand-sky !important;
  color: white !important;
}

.mat-step-header .mat-step-label {
  font-size: 16px;
  font-family: fonts.$font-family-semi;
  color: colors.$securian-brand-sky !important;
}

.mat-step-label-selected {
  color: colors.$securian-brand-sky !important;
}

.mat-step-label-active {
  color: colors.$securian-brand-snow;
  font-weight: bold !important;
}

.mat-step-header-selected .mat-step-icon {
  background-color: colors.$securian-brand-water;
  color: white !important;
}

/* TODO(mdc-migration): The following rule targets internal classes of button that may no longer apply for the MDC version.*/
.mat-mdc-outlined-button:not(.mat-button-disabled) {
  border-color: rgba(0, 0, 0, 0) !important;
}

.mat-step-header[aria-selected="true"] {
  background-color: colors.$securian-brand-mist;

  & div.mat-step-label.mat-step-label-active.mat-step-label-selected {
    color: colors.$securian-brand-pine !important;
  }

  & div.mat-step-icon.mat-step-icon-state-number.mat-step-icon-selected {
    background-color: colors.$securian-brand-pine !important;
  }
}