// @use '/src/assets/css/components/form-field';

@use "/src/assets/css/base/colors";

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pad-top-align {
  padding-top: 9px;
}

.aligned-horizontal {
  transform: translateY(6px);
}

::ng-deep .mat-mdc-select-value {
  font-family: "Hurme Geometric Sans 3" !important;
  // color: colors.$securian-brand-leaf !important;
}