<div class="form">

  <div class="row-1">
    <div class="row-1-column-1">
      <form [formGroup]="liabilityForm">
        <div>
          <div class="section-title pb-3">
            <h4>{{ 'assets.title' | translate }}</h4>
          </div>
          @if (currentGlobalFormValue.meetingDetailForm?.IsSecondaryApplicant) {
            <p class="body-medium-regular pt-4">
              {{ 'assets.subTitle' | translate }}
            </p>
          }
        </div>
        <div class="row">
          <div class="col-6">
            <span class="body-medium-bold">{{ 'assets.debt' | translate }}</span>
            <div>
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  currencyMask
                  appCurrencyOptions
                  [options]="{ precision: 0, thousands: '', prefix: '', align: 'left' }"
                  type="text"
                  placeholder="{{ 'assets.debt' | translate }}"
                  formControlName="NewMortgageLoanBalanceValue" />
              </mat-form-field>
            </div>
          </div>
          <div class="col-6">
            <div class="d-flex justify-content-start align-items-center">
              <span class="body-medium-bold">{{ 'assets.mortgage' | translate }}</span>
              <div
                class="d-flex ms-2"
                appTooltip
                [tooltip]="{ tooltip: 'assets.liabilitiesTooltip' | translate, position: 'top', style: 'info' }"
                aria-label="details">
                <mat-icon>error_outline</mat-icon>
              </div>
            </div>
            <mat-form-field appearance="outline" class="w-100">
              <input
                matInput
                currencyMask
                appCurrencyOptions
                [options]="{ precision: 0, thousands: '', prefix: '', align: 'left' }"
                type="text"
                placeholder="{{ 'assets.mortgage' | translate }}"
                formControlName="ExistingLiabilitiesDebtBalance" />
            </mat-form-field>
          </div>
        </div>
        <div>
          <app-total
            applicantType="general"
            [title]="'assets.total' | translate"
            [total]="calculateTotalOutstandingLiabilities()"></app-total>
        </div>
      </form>
      <div class="text-end pt-5">
        <div class="button-row">
          <button class="button-secondary" matStepperPrevious>
            {{ 'assets.back' | translate }}
          </button>
          <button class="button-primary" matStepperNext (click)="saveLiabilities()">
            {{ 'assets.next' | translate }}
          </button>
          @if (isFormInvalid()) {
            <div class="text-center">
              <errorMessage message="{{ 'general.missingMessage' | translate }}"></errorMessage>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="row-1-column-2"></div>
  </div>
</div>
