.mt-6-tooltip {
  margin-top: 6px;
}

.row-1 {
  display: flex;
  column-gap: 24px;

  .row-1-column-1 {
    flex-grow: 2;
    flex-basis: 70%;
  }

  .row-1-column-2 {
    flex-grow: 1;
    flex-basis: 30%;
  }
}

.button-row {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 24px;
}