@use "/src/assets/css/base/colors";
@use "/src/assets/css/base/fonts";

.nav-bar {
  width: 92px;
  min-height: 100%;
  background-color: colors.$securian-brand-snow;
  transition: width 0.5s;
  transition-delay: 0.1s;
  font-family: 'Inter';
  font-size: 16px;
  box-shadow: 0px 4px 12px rgba(91, 91, 91, 0.06);
  display: flex;
  flex-direction: column;
  color: colors.$securian-brand-sky;
  padding-top: 12px;

  .nav-label,
  .nav-label-arrow,
  .logo,
  .footer-logo {
    opacity: 0;
    transition: opacity 0.3s;
    -webkit-transition: opacity 0.3s;
  }

  .nav-content {
    height: 100%;
    display: contents;
  }

  .nav-label {
    color: colors.$securian-brand-sky;
    white-space: nowrap;
  }

  .nav-label {
    padding-top: 4px;
    padding-left: 30px;
  }

  .nav-label-arrow {
    flex-grow: 1;
  }

  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
    color: inherit;
  }

  .menu {
    display: flex;
    box-sizing: border-box;
    height: 88px;
    padding-left: 130px;
    padding-top: 30px;
    vertical-align: middle;
  }

  .hamburger {
    cursor: pointer;
  }

  .icons {
    display: flex;
    box-sizing: border-box;
    height: 56px;
    padding-left: 25px;
    padding-top: 15px;
    border-left: 4px solid white;
    cursor: pointer;
  }

  .icons:hover {
    background-color: #e5f4f2;
    border-left: 4px solid colors.$securian-brand-water;
    text-shadow: colors.$securian-brand-water 0.5px 0 0.5px;
    color: colors.$securian-brand-onyx;
  }

  .menu-item-selected {
    background-color: #e5f4f2;
    border-left: 4px solid colors.$securian-brand-water;
    text-shadow: colors.$securian-brand-water 0.5px 0 0.5px;
    color: black !important;
  }

  .shadow-bottom {
    box-shadow: 0px 10px 10px -10px lightgray;
  }

  .sub-nav {
    visibility: hidden;
    max-height: 0px;
    background-color: rgba(0, 0, 0, 0.03);
    color: colors.$securian-brand-sky;

    transition: all 0.3s ease-in-out;
    transition-property: max-height, visibility;
    animation-delay: 0.3s;

    &.sub-expanded {
      visibility: unset;
      max-height: 500px;
      transition: all 0.3s ease-in-out;
      transition-property: max-height, visibility;
      animation-delay: 0.3s;
    }

    .sub-nav-item {
      border-left: 4px solid transparent;
      display: flex;
      box-sizing: border-box;
      height: 56px;
      opacity: 0;
      padding-left: 82px;
      padding-top: 15px;
      transition: opacity 0.3s ease-in-out;

      &.sub-expanded {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
        animation-delay: 0.3s;
      }

      &:hover {
        background-color: #e5f4f2;
        border-left: 4px solid colors.$securian-brand-water;
        text-shadow: colors.$securian-brand-water 0.5px 0 0.5px;
        color: colors.$securian-brand-water;
      }
    }
  }

  .logo {
    margin-top: 0px;
    margin-left: 20px;
    height: 70%;
  }

  .menu-items {
    flex: 1 0 auto;
  }

  .nav-footer {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    flex-shrink: 0;
  }
}

.expanded {
  width: 264px;
  transition: width 0.5s;
  transition-delay: 0s;

  .nav-content {
    display: contents;
    width: 264px;
  }

  .logo,
  .footer-logo,
  .nav-label,
  .nav-label-arrow {
    opacity: 1;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition-delay: 0.2s;
    color: colors.$securian-brand-sky;
  }
}

.dropdown-arrow {
  float: right;
  margin-right: 30px;
  transition: transform 0.3s;
  -webkit-transition: transform 0.3s;

  &.arrow-down {
    transform: scaleY(-1);
  }
}