<div class="pricing-coverage">
  <div class="form">
    <pricing-coverage-top-info></pricing-coverage-top-info>
    <mat-divider></mat-divider>
    <policy-grouping [insuranceType]="insuranceType" [stepper]="stepper()"></policy-grouping>

    <div class="mt-3 form-section">
      <div class="section-wrapper">
        <div class="section-title">
          <h4>{{ title }}</h4>
        </div>
        <div class="body-medium-regular">Details of Pricing and Coverage types to insure the applicant's loan</div>
      </div>
        <div class="form-table pt-4">
          <mat-tab-group
            #tabPrices
            mat-align-tabs="start"
            (selectedIndexChange)="onClickTab($event)"
            [selectedIndex]="selectedIndexValue()">
            @let response = quoteInsuranceTypeResponseData$ | async;
            @if (response) {
              @if (
                applicationIndex >= 0 &&
                response &&
                response.loanId !== '' &&
                response.applications !== null &&
                response.applications !== undefined &&
                response.applications.length > 0 &&
                response.applications[applicationIndex].applicants !== undefined
              ) {
                @let applications = response.applications;
                @let quoteType = response.insuranceType;
                @for (type of carrierInsuranceTypeList; track type.sequence; let i = $index) {
                  @let applicantLength = response.applications[applicationIndex].applicants.length;
                  <mat-tab
                    #tab
                    label="{{ type.description }}"
                    [disabled]="isInterestOnlyPaymentType ? !tab.isActive : isReadOnly">
                    @if (isListReady(applications)) {
                      <div class="py-2">
                        @if (quoteType === 'SP') {
                          <div class="my-3" style="margin-left: 1.9rem; margin-right: 1.8rem">
                            <stepper-message></stepper-message>
                          </div>
                        }

                        @if (applications.length > 1 && quoteType !== 'SP') {
                          @if (quoteInsuranceTypeResponseData$ | async; as response) {
                            <div class="d-flex flex-row my-3">
                              @for (
                                application of response.applications;
                                track application.id;
                                let applicationIndex = $index
                              ) {
                                <div id="buttonContainer">
                                  <button
                                  id="{{applicationIndex}}"
                                    [ngClass]="
                                      isApplicationButtonSelected(
                                        applicationIndex,
                                        application.id,
                                        response.applications[0].id
                                      )
                                        ? 'button-primary-level'
                                        : 'button-secondary-level'
                                    "
                                    (click)="
                                      changeApplicationSelected(applicationIndex + 1, applicationIndex, application)
                                    ">
                                    {{ application.applicants.length > 0 ? application.applicants[0].firstName : '' }}
                                    {{ application.applicants.length > 0 ? application.applicants[0].lastName : '' }}

                                    {{
                                      application.applicants.length > 1
                                        ? ' & ' + application.applicants[1].firstName
                                        : ''
                                    }}
                                    {{ application.applicants.length > 1 ? application.applicants[1].lastName : '' }}
                                  </button>
                                </div>
                              }
                            </div>
                            <div class="my-3">
                              <stepper-message></stepper-message>
                            </div>
                          }
                        }

                        <coverage-taken
                          [applications]="applications"
                          [applicationIndex]="applicationIndex"
                          [applicantLength]="applicantLength"
                          [insuranceType]="insuranceType"
                          [quoteType]="quoteType"
                          (isRequotingDone)="executeTaskPostRequoting()"
                          [matTabGroupSelected]="matTabIndexSelected">
                        </coverage-taken>
                      </div>
                    }
                  </mat-tab>
                }
              }
            }
          </mat-tab-group>
        </div>
      
    </div>

    <div class="form-buttons">
      <button class="button-secondary" (click)="back()">Back</button>
      <button class="button-primary" (click)="saveCoverage()" [disabled]="isNextButtonDisabled()">
        Next: {{ nextButtonLabel }}
      </button>
    </div>
  </div>
</div>
