@use '/src/assets/css/components/form-field';

.uncovered {
  color: var(--grey200);
}

.pad-top-align {
  padding-top: 8px;
}

/* TODO(mdc-migration): The following rule targets internal classes of tabs that may no longer apply for the MDC version. */
::ng-deep .mat-tab-body-content {
  overflow: inherit;
}