<div class="success-wrapper">
    <div class="d-flex">
        <div class="col-100 me-2">
            <img alt="Success" src="../../assets/img/checked1.png" />
            <h3>Success!</h3><br />
            <p>Your information was successfully submitted.</p><br />
            <button [routerLink]="['/existing-policy']" mat-stroked-button color="button-1" class="button"
                type="button">
                Return to Dashboard
            </button>
        </div>
    </div>
</div>