<div class="gap-analysis">
  <div class="gap-analysis-intro-page">
    <div class="body-medium-regular">
      Gap analysis can be used to help customers understand their credit protection insurance need. Creditor insurance
      is an optional service that can assist in protecting their financial portfolio. This tool can show the difference
      in a customer’s ability to pay monthly expenses with, versus without, credit insurance in connection with a loan
      obligation extended by the credit union.
    </div>
    <div class="info-boxes">
      <div class="info-box">
        <h4>Enhanced Gap Analysis</h4>
        <div class="body-medium-regular">
          Considers joint applicants, spousal income, taxes, and supplementary income.<br /><br />
          <button class="button-primary" [routerLink]="['enhanced-gap-analysis']">Begin Analysis</button><br />
        </div>
        <div class="body-xsmall-regular">
          * The results of this Gap Analysis are not intended to be used in creating a budget or a financial plan.
        </div>
      </div>
      <div class="info-box">
        <h4>Generic Gap Analysis</h4>
        <div class="body-medium-regular">
          Considers different employment types, detailed income/expenses, and supplementary income.<br /><br />
          <button class="button-primary" [routerLink]="['generic-gap-analysis']">Begin Analysis</button><br />
        </div>
        <div class="body-xsmall-regular">
          * The results of this Gap Analysis are not intended to be used in creating a budget or a financial plan.
        </div>
      </div>
    </div>
  </div>
</div>
