@use "../../abstracts/functions.typography" as fun;
@use "../colors";

// Typography Level
$valeyo-typography: (
  heading-1: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 48px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: normal,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  heading-2: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 36px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: normal,
    $font-color: colors.$securian-brand-leaf,
    $letter-spacing: normal,
  ),
  heading-3: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 30px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: normal,
    $font-color: colors.$securian-brand-slate,
    $letter-spacing: normal,
  ),
  heading-4: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 26px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: normal,
    $font-color: colors.$securian-brand-water,
    $letter-spacing: normal,
  ),
  heading-5: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 22px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: normal,
    $font-color: colors.$securian-brand-water,
    $letter-spacing: normal,
  ),
  heading-6: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 18px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: normal,
    $font-color: colors.$securian-brand-water,
    $letter-spacing: normal,
  ),
  body-large-regular: fun.define-typography-level($font-family: "Hurme Geometric Sans 3",
    $font-size: 18px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: normal,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  body-large-bold: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 26px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 600,
    $line-height: normal,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  body-extra-large-bold: fun.define-typography-level($font-family: "Hurme Geometric Sans 3",
    $font-size: 44px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 600,
    $line-height: 43px,
    $font-color: colors.$securian-brand-leaf,
    $letter-spacing: normal,
  ),
  body-medium-regular: fun.define-typography-level($font-family: "Hurme Geometric Sans 3",
    $font-size: 16px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: 24px,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  body-medium-bold: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 16px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 400,
    $line-height: 24px,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  body-small-regular: fun.define-typography-level($font-family: "Hurme Geometric Sans 3",
    $font-size: 14px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: normal,
    $line-height: normal,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  body-small-bold: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 14px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 600,
    $line-height: normal,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  body-small-italic: fun.define-typography-level($font-family: "Hurme Geometric Sans 3",
    $font-size: 14px,
    $font-stretch: normal,
    $font-style: italic,
    $font-variant: normal,
    $font-weight: normal,
    $line-height: normal,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  body-xsmall-regular: fun.define-typography-level($font-family: "Hurme Geometric Sans 3",
    $font-size: 12px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: normal,
    $line-height: normal,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
  body-xsmall-bold: fun.define-typography-level($font-family: "Hurme Geometric Sans 3 Semi",
    $font-size: 12px,
    $font-stretch: normal,
    $font-style: normal,
    $font-variant: normal,
    $font-weight: 600,
    $line-height: normal,
    $font-color: colors.$valeyo-grey-800,
    $letter-spacing: normal,
  ),
);