<div class="form-section securian">
  <div class="section-wrapper">
    <div class="section-title">
      <h5>{{ title() }}</h5>
    </div>
    <div class="body-medium-regular">{{ description() }}</div>
  </div>

  <div class="form-table">
    <mat-tab-group
      #tabs
      [disablePagination]="true"
      [dynamicHeight]="true"
      mat-align-tabs="start"
      (selectedIndexChange)="onClickTab($event)">
      @for (applicant of applicantList; track $index; let tabIndex = $index) {
      <mat-tab class="form-fields">
        <ng-template class="form-field" mat-tab-label>
          <!-- <div class="d-flex justify-content-between gap-3"> -->
          <span class="mat-tab-label">
            {{ applicant.personalInfoForm?.firstName }} {{ applicant.personalInfoForm?.lastName }}
          </span>
          <!-- @if (tabIndex !== 0) {
                <span class="" (click)="removeApplicant(tabIndex)">x</span>
              } -->
          <!-- </div> -->
           <div class="custom-close-icon">
                  @if (applicantList.length > 1 && tabIndex >0) {
                    <img
                      class="custom-icon"
                      (click)="removeApplicant(tabIndex)"
                      alt="Remove Applicant"
                      src="../../../../assets/img/cross-icon.svg" />
                  }
                </div>
        </ng-template>
        @defer {
            <applicant-form
              class="form-field"
              #applicantForm
              [tabIndex]="tabIndex"
              (isFormValidEvent)="applicantFormValid($event)"
              (isReQuoteRequiredEvent)="reQuote()">
        </applicant-form>
        }
      </mat-tab>
      }
      @if (canAddMoreApplicants() && !applicantAdded) {
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="body-medium-bold securian-brand-sky-text-color"> + Add Applicant </span>
        </ng-template>
      </mat-tab>
      }
    </mat-tab-group>
  </div>
</div>
