<div class="bg-fog pl-130 d-flex align-items-center gap-3 py-4">
  <p class="body-medium-regular footer-nav-links">
    <a href="https://www.securiancanada.ca/legal-information.html" target="_blank" rel="noopener noreferrer"
      >Legal information</a
    >
  </p>
  <span class="color-leaf">|</span>
  <p class="body-medium-regular footer-nav-links">
    <a href="https://www.securiancanada.ca/privacy-code.html" target="_blank" rel="noopener noreferrer">Privacy code</a>
  </p>
</div>
<div class="pl-130 bg-pine py-3">
  <img class="logo-reserved" alt="Securian Canada Logo" src="../../../../assets/img/securian-logo-reversed.svg" />
</div>
<div class="bg-steel footer-disclosures pl-130 pb-4 pe-5 pt-4">
  <p class="body-medium-bold">
    Securian Canada is the brand name used by Canadian Premier Life Insurance Company and Canadian Premier General
    Insurance Company to do business in Canada. Policies are underwritten by Canadian Premier Life Insurance Company and
    Canadian Premier General Insurance Company.
  </p>
  <br />
  <p class="body-medium-bold">
    Securian Financial is the marketing name for Securian Financial Group, Inc., and its subsidiaries. Insurance
    products are issued by subsidiary insurance companies.
  </p>
  <br />
  <p class="body-medium-regular">©2024 Securian Canada. All rights reserved.</p>
</div>
