<div class="certificate-popup-container">
  <button mat-dialog-close class="certificate-popup-close">
    <mat-icon>close</mat-icon>
  </button>

  <div class="certificate-popup-title">Certificate number not entered</div>
  <div class="certificate-popup-row">
    <img src="../../assets/img/info-outline.svg" alt="Info" class="certificate-popup-icon" />
    <div class="certificate-popup-message">
      Please enter certificate number(s) in order to cancel insurance.
    </div>
  </div>
</div>
