// __<<ngM2ThemingMigrationEscapedComment0>>__
@use './assets/css/themes/valeyo.scss';
@use './assets/css/base/colors';
@use './assets/css/base/fonts';
@use './assets/css/components/form-field';

@use '@angular/material' as mat;
@include mat.core();
// ! Fix those two next lines
// @use 'node_modules/@angular/material/theming';
// @use 'node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

// @include mat-core();

// Define fonts
// @import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700');

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
// @import '@angular/material/prebuilt-themes/indigo-pink.css';

// Import functions, variables, and mixins needed by other Bootstrap files
@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

// Import Bootstrap Reboot
@import 'node_modules/bootstrap/scss/maps'; // Contains :root CSS variables used by other Bootstrap files
@import 'node_modules/bootstrap/scss/root'; // Contains :root CSS variables used by other Bootstrap files
@import 'node_modules/bootstrap/scss/reboot';
@import 'node_modules/bootstrap/scss/containers'; // Add .container and .container-fluid classes
@import 'node_modules/bootstrap/scss/grid'; // Add the grid system
@import 'node_modules/bootstrap/scss/helpers';
@import 'node_modules/bootstrap/scss/alert';
@import 'node_modules/bootstrap/scss/utilities'; // Configures the utility classes that should be generated
@import 'node_modules/bootstrap/scss/utilities/api'; // Generates the actual utility classes

$valeyo-theme: (
  50: #e0edeb,
  100: #b3d2ce,
  200: #80b4ad,
  300: #4d968c,
  400: #268074,
  500: #00695b,
  600: #006153,
  700: #005649,
  800: #004c40,
  900: #003b2f,
  A100: #80b4ad,
  A200: colors.$securian-brand-leaf,
  A400: #006DAF,
  A700: #006153,
  contrast: (50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

// $my-app-primary: mat-palette($valeyo-theme, A200);
$my-app-primary: mat.m2-define-palette($valeyo-theme, A200);
// $my-app-accent: mat-palette($valeyo-theme, A400, A700, A200);
$my-app-accent: mat.m2-define-palette($valeyo-theme, A400, A700, A200);

// $my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
$my-app-theme: mat.m2-define-light-theme($my-app-primary, $my-app-accent);
// @include angular-material-theme($my-app-theme);
@include mat.all-component-themes($my-app-theme);
// @include mat.define-material-theme($my-app-theme);

.menu-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 20px;
  box-sizing: border-box;

  .menu-item {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 12px;

    .desc {
      font-family: fonts.$font-family;
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 160%;
      color: #018374;
    }

    .sub-desc {
      font-family: fonts.$font-family;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: #5f5f5f;
    }

    .icon {
      width: 40px;
      height: 40px;
      align-self: center;
      margin: auto;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', 'Material Symbols Outlined ttf',
    'Material Symbols Outlined online', 'Material Icons';
  font-size: 24px;
}

html {
  height: 100%;
  min-height: 100%;
}

.label {
  font-weight: 600;
}

:root {
  --red100: #b00020;

  --green200: #018374;
  --green300: #4cb4a7;
  --green400: #66bfb4;
  --green500: #99d4cd;
  --green800: #e5f4f2;
  --grey200: #848484;
  --grey300: #e5e5e5;
  --grey400: #f2f2f2;
  --grey500: #fbfbfb;

  --blue200: #006DAF;

  --black200: #2c2c2c;
}

.grid {
  display: flex;

  div:nth-child(2) {
    margin-left: auto;
  }
}

.mat-step-label-selected {
  color: var(--blue200) !important;
}

.mat-step-header-selected .mat-step-icon {
  background-color: colors.$securian-brand-sky;
  color: white !important;
}

.custom-dialog-container .mat-mdc-dialog-container {
  overflow-y: hidden;
  border-top: 6px solid colors.$securian-brand-grass;
  border-bottom: 6px solid colors.$securian-brand-grass;
  border-radius: 0px;
}

.cdk-overlay-pane .mat-mdc-dialog-container {
  overflow-y: hidden;
  border-top: 6px solid colors.$securian-brand-grass;
  border-bottom: 6px solid colors.$securian-brand-grass;
  border-radius: 0px;
}

.col {
  &-20 {
    width: 20%;
  }
}

.col-100 {
  width: 100%;
}

.col-40 {
  width: 40%;
}

.col-18 {
  width: 18%;
}

.col-2 {
  width: 2%;
}

.self-flex-end {
  align-self: flex-end;
}

.me-2 {
  margin-right: 2rem;
}

.me-1 {
  margin-right: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2_5 {
  margin-top: 2.5rem;
}

.item-center {
  align-items: center;
}

.pointer {
  cursor: pointer;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
::ng-deep .mat-form-field-infix {
  padding: 0.25em 0 0.75em 0 !important;
}

.icon-color {
  color: colors.$securian-brand-leaf !important;
}

.danger-color {
  color: colors.$error-red-600 !important;
}

.warning-color {
  color: colors.$securian-brand-orange !important;
}

.info-color {
  color: colors.$securian-brand-leaf !important;
}

.mat-mdc-tooltip-surface {
  font-size: 20px !important;
}

.custom-dropdown {
  margin-top: 30px;
}

.securian-pine-text-color {
  color: colors.$securian-brand-pine !important;
}

.securian-leaf-text-color {
  color: colors.$securian-brand-leaf !important;
}

.securian-brand-water-text-color {
  color: colors.$securian-brand-water !important;
}

.securian-brand-sky-text-color {
  color: colors.$securian-brand-sky !important;
}

.securian-brand-leaf-background {
  background-color: colors.$securian-brand-leaf;
}

.securian-brand-orange-background {
  background-color: colors.$securian-brand-orange;
}

.securian-card {
  -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
  border-top: 6px solid colors.$securian-brand-leaf;

  &-lighter {
    border-top: 6px solid colors.$securian-brand-grass;
  }
}

.border-bottom-grey {
  border-bottom: 1px solid colors.$securian-brand-stone;
}

.ps {
  &-7Percent {
    padding-left: 7% !important;
  }

  &-11Percent {
    padding-left: 11% !important;
  }
}

.mw {

  &-20Pixels {
    min-width: 20px !important;
  }

  &-10Pixels {
    min-width: 10px !important;
  }

  &-142Pixels {
    min-width: 142px !important;
  }

  &-190Pixels {
    min-width: 190px !important;
  }

  &-200Pixels {
    min-width: 204px !important;
  }

  &-216Pixels {
    min-width: 216px !important;
  }

  &-230Pixels {
    min-width: 230px !important;
  }

  &-300Pixels {
    min-width: 320px !important;
  }

  &-65Percentage {
    min-width: 65% !important;
  }

  &-72Percentage {
    min-width: 72.5% !important;
  }

  &-35Percentage {
    min-width: 35% !important;
  }

  &-28Percentage {
    min-width: 27.5% !important;
  }
}

.mh {
  &-20Pixels {
    min-height: 20px !important;
  }

  &-69Pixels {
    min-height: 69px !important;
  }
}

.w {
  &-15 {
    width: 15px !important;
  }

  &-30 {
    width: 30% !important;
  }
}

.gap {
  &-6 {
    gap: 6rem !important;
  }

  &-7 {
    gap: 7rem !important;
  }
}

.ffix-space {
  position: relative;
}

:ng-deep .mat-option-text {
  color: colors.$securian-brand-slate !important;
}

.mat-mdc-dialog-surface {
  border-radius: 0px !important;
}

::ng-deep .mat-calendar-body-cell-content {

  &.mat-focus-indicator {
    &:hover {
      background-color: colors.$securian-brand-sky !important;
      color: colors.$securian-brand-snow !important;
    }
  }

  &.mat-calendar-body-selected {
    background-color: colors.$securian-brand-sky !important;
    color: colors.$securian-brand-snow !important;

    &:hover {
      background-color: colors.$securian-brand-sky !important;
      color: colors.$securian-brand-snow !important;
    }
  }
}