/* You can add global styles to this file, and also import other style files */
@use 'node_modules/@angular/material/theming';
@include mat-core();

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700');
@use 'node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

$my-app-primary: mat-palette(md-mcgpalette0, A100);
$my-app-accent: mat-palette(md-mcgpalette0, A100, A200, A400);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);
@include angular-material-theme($my-app-theme);

// @use 'node_modules/@angular/material/theming';

// Be sure that you only ever include 'mat-core' mixin once!
// it should not be included for each theme.
@include mat-core();

// define a real custom palette (using http://mcg.mbitson.com)
$bv-brand: (
    50: #ffffff,
    100: #dde6f3,
    200: #b4c9e4,
    300: #7fa3d1,
    400: #6992c9,
    500: #5282c1,
    600: #4072b4,
    700: #38649d,
    800: #305687,
    900: #284770,
    A100: #ffffff,
    A200: #dde6f3,
    A400: #6992c9,
    A700: #38649d,
    contrast: (50: $black-87-opacity,
        100: $black-87-opacity,
        200: $black-87-opacity,
        300: $black-87-opacity,
        400: $black-87-opacity,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: $black-87-opacity,
        A200: $black-87-opacity,
        A400: $black-87-opacity,
        A700: white,
    ),
);

$bv-orange: (
    50: #e6f8f1,
    100: #c1eddd,
    200: #98e2c6,
    300: #6fd6af,
    400: #50cd9e,
    500: #006DAF,
    600: #2cbe85,
    700: #25b67a,
    800: #1faf70,
    900: #13a25d,
    A100: #d4ffe9,
    A200: #a1ffce,
    A400: #6effb4,
    A700: #54ffa7,
    contrast: (50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

// mandatory stuff for theming
$bv-palette-primary: mat-palette($bv-brand);
$bv-palette-accent: mat-palette($bv-orange);

// include the custom theme components into a theme object
$bv-theme: mat-light-theme($bv-palette-primary, $bv-palette-accent);

// include the custom theme object into the angular material theme
@include angular-material-theme($bv-theme);