.error-color {
	color: #B00020;
}

.success-color {
	color: #056F62;
}

.row-1 {
	display: flex;
	column-gap: 40px;

	.row-1-column-1 {
		flex-grow: 2;
		flex-basis: 70%;
	}

	.row-1-column-2 {
		flex-grow: 1;
		flex-basis: 30%;
	}
}

.min-wid-cls {
	min-width: 310px !important;
}

.button-row {
	display: flex;
	flex-direction: row;
	justify-content: end;
	gap: 24px;
}