@use '../../../../assets/css/base/colors';

.spinner-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  animation: gradient 15s ease infinite;
  z-index: 1000;
  opacity: 0.5;
  backdrop-filter: blur(0.125rem) grayscale(0.25);
  opacity: 1 !important;
  background-color: #7e7e7e80 !important;
}

.loader {
  position: fixed;
  top: calc(50% - 5rem);
  left: calc(50% - 5rem);
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  perspective: 50rem;
  z-index: 1001;

  .inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  .inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid colors.$valeyo-grey-400;
  }

  .inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid colors.$securian-brand-sky;
  }

  .inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid colors.$securian-brand-water;
  }

  @keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
  }

  @keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
  }

  @keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
  }
}