@use '/src/assets/css/base/colors';

/*TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version.*/
mat-chip-list {
  display: block;
  width: 100%;
  min-height: 50px;
}

app-dynamic-form-input {
  width: 200px;
  margin-right: 10px;
}

form {
  width: 800px;
  display: flex;
  align-items: flex-start;
}

.mat-column-actions {
  flex: 0 0 70px;
  border-right: lightgray solid 1px;
  margin-right: 10px;
}

.chip-devider {
  height: 32px;
  margin-left: 20px;
  background-color: lightgrey;
  margin-right: -10px;
  border-radius: 0px 16px 16px 0px;
  padding: 6px 8px 6px 0px;
  box-sizing: border-box;

  * {
    color: #0d8e5f;
    opacity: 1;
  }
}

mat-header-row {
  display: flex;
  border-bottom: 1px solid colors.$securian-brand-stone !important;
  box-shadow: 0px 4px 8px rgba(91, 91, 91, 0.04);
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-bottom: 10px;
  height: 20px;
  box-sizing: border-box;

  mat-header-cell {
    border-bottom-style: none;
    color: colors.$securian-brand-pine;
    height: 16px;
  }

  mat-header-cell:first-of-type {
    margin-left: 18px;
  }

  mat-header-cell:last-of-type {
    margin-right: 22px;
  }
}

mat-row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid colors.$securian-brand-stone !important;
  font-size: 16px;
  box-sizing: border-box;

  .mat-mdc-cell {
    border-bottom-style: none;
  }
}

.common {
  flex-grow: 3;
}

//TODO: JUST KEEP THE COLORS CONFIGURATION
.see-more-applications {
  margin-top: 20px;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  color: colors.$securian-brand-sky;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

table {
  width: 100%;
}

.table-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 380px;
  padding: 72px auto;
  background: #fbfbfb;
  border: 1px solid #e5e5e5;
  border-radius: 4px;

  .desc {
    max-width: 300px;
    margin-bottom: 40px;
  }

  .icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
    align-self: center;
    background: url('../../../../assets/img/folder.png');
  }
}


mat-cell {
  min-height: 34px;
}

.admin-buttons {
  display: flex;

  .admin-button {
    color: colors.$valeyo-grey-800;
    width: auto;
    border: none;
    padding: 0px;
    margin-right: 20px;
    background-color: white;
  }

  .delete {
    color: colors.$error-red-400;
  }
}

.dynamic-table-row {
  border-top: 1px #000;
  padding: 18px;
}